*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} 
/* 
 body{
    margin: 100%;
    padding: 100%;
}  */

#bg{
    height: 100%;
    width: 100%;
    background-image: url(./4723533.jpg);
    background-size:cover ;
} 
/* 
h1{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    mix-blend-mode: difference;
}    */